 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PM8821WX4M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PM8821WX4M');
</script>
<script>
		const typebotInitScript = document.createElement("script");
		typebotInitScript.type = "module";
		typebotInitScript.innerHTML =
		`import Typebot from 'https://cdn.jsdelivr.net/npm/@typebot.io/js@0.2.85/dist/web.js'; 

			Typebot.initPopup({
			  typebot: "gera-o-de-leads-pp-eti-br-q89ytv4",
			  apiHost: "https://tbchat.dourasoft.com.br",
			  autoShowDelay: 1000,
			});
		`;
		document.body.append(typebotInitScript);
</script>
