<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Perfil</h2>
<div class="summary">
    <p>Linguagens de programação: PHP, Javascript,  Android, Python</p>
    <p>Banco de dados: PostgreSQL, Firebird, MySQL.</p>
    <p>Aplicações, frameworks, plugins e bibliotecas que utilizo no dia a dia: WordPress, Elementor, WooComerce, CakePHP, Laravel, Yii, Slim, Vue, Quasar, N8N, RabbitMQ, Chatwoot, Mautic, Typebot, Cal.com, Docker, Traefik</p>
</div><!--//summary-->
</section><!--//section-->
