<section class="section projects-section">
	<h2 class="section-title"><i class="fa fa-ticket"></i>Ofertas e Cupons</h2>
	<div class="intro">
		<p>Cupons de desconto em diversos sites.</p>
	</div><!--//intro-->
	<div class="item">
		<span class="project-title"><a href="https://m.do.co/c/e1dae137b6e7" target="_blank">Digital Ocean</a></span> - 
		<span class="project-tagline">Deploy your next app in seconds. Get $50 in cloud credits from @DigitalOcean.</span>		
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="http://goo.gl/tkSxFk" target="_blank">Google Suite</a></span> - 
		<span class="project-tagline">Escolha sua edição do G Suite. Faça um teste gratuito por 14 dias.</span>		
	</div><!--//item-->  
</section><!--//section-->
