<section class="section projects-section">
	<h2 class="section-title"><i class="fa fa-ticket"></i>Ofertas e Cupons</h2>
	<div class="intro">
		<p>Cupons de desconto em diversos sites.</p>
	</div><!--//intro-->
	<div class="item">
		<span class="project-title"><a href="https://m.do.co/c/e1dae137b6e7" target="_blank">Digital Ocean</a></span> - 
		<span class="project-tagline">Realize o deploy do seu próximo aplicativo em segundos. Receba $50 em créditos na nuvem na @DigitalOcean.</span>		
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="http://goo.gl/tkSxFk" target="_blank">Google Suite</a></span> - 
		<span class="project-tagline">Escolha sua edição do G Suite. Faça um teste gratuito por 14 dias.</span>		
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="https://www.umbler.com/br/seja-bem-vindo?u=0jrzvxle" target="_blank">Umbler</a></span> - 
		<span class="project-tagline">Seu projeto na nuvem em segundos. Publique seus sites e app em containers 100% SSD, em um fluxo
de desenvolvimento ágil, seguro e escalável.</span>		
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="https://click.afiliados.uol.com.br/Clique?idtUrl=276642&cpg=Mjc2NjQy&idtLabel=106276&source=15&type=link&creative=TXVsdGktTGVpdG9yZXM%3D&affRedir=https%3A%2F%2Fpagseguro.uol.com.br%2Fcampanha%2Fmaquinas-de-cartao%2F%3Faff_source%3D37042a6ccf534181b901d09195c7d43b" target="_blank">Máquininhas de Cartão</a></span> - 
		<span class="project-tagline">Compre sua maquininha de cartão com desconto para seu negócio.</span>		
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="https://click.afiliados.uol.com.br/Clique?idtUrl=276642&cpg=Mjc2NjQy&idtLabel=106276&source=10&type=link&creative=V29yZHByZXNzX0RlZGljYWRv&affRedir=https%3A%2F%2Fuolhost.uol.com.br%2Flp%2Fwordpress-dedicado%3Faff_source%3D37042a6ccf534181b901d09195c7d43b" target="_blank">Servidores Dedicados de Wordpress</a></span> - 
		<span class="project-tagline">Tenha seu próprio cloud gerenciado com múltiplas instalações de Wordpress com datacenter no Brasil.</span>		
	</div><!--//item-->
</section><!--//section-->


