<section class="section experiences-section">
	<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiências</h2>
	
	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Desenvolvedor Sênior</h3>
				<div class="time">2010 - Presente</div>
			</div><!--//upper-row-->
			<div class="company">DouraSoft, Dourados-MS</div>
		</div><!--//meta-->
		<div class="details">
			<p>Minha primeira função foi como desenvolvedor Delphi criando alguns módulos para o sistema principal de lotéricas e a criaçao da primeira versão do sistema de cobranças de mensalidade, com boletos registrados e débito em conta.</p>
			<p>Atualmente, na DouraSoft do Brasil, Programador Full Stak, Cloud Engineer e Gestor de TI responsável por desenvolver e manter sistemas de gestão empresarial ERP SaaS, Gestão de Casas Lotéricas, Controle de Associados, Sistema de Votação, Controle de filas e Propagandas, Controle de Licenças e Versões, além de realizar várias integrações JSON, REST, XML, SOAP entre diferentes sistemas.</p>  
			<p>Além disso, também tenho experiência no desenvolvimento de websites e possuo conhecimentos avançados em PHP, JavaScript, Wordpress, CSS, HTML5, PostgresSQL e MySQL.</p>  
			<p>Tenho a responsabilidade de treinar as equipes de venda, suporte e financeiro, criando vídeo aulas, manuais, cursos e procedimentos para melhor utilização dos sistemas que a empresa desenvolve.</p>
			<p>Também sou responsável por gerenciar e organizar a gestão e manutenção dos servidores em nuvem.</p>
		</div><!--//details-->
	</div><!--//item-->
		
</section><!--//section-->
