<section class="section experiences-section">
	<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiências</h2>
	
	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Desenvolvedor Sênior</h3>
				<div class="time">2010 - Presente</div>
			</div><!--//upper-row-->
			<div class="company">DouraSoft, Dourados-MS</div>
		</div><!--//meta-->
		<div class="details">
			<p>Minha carreira profissional iniciou-se no desenvolvimento de softwares especializados, onde tive a oportunidade de expandir o portfólio de serviços de uma renomada empresa do setor de lotéricas, criando módulos críticos para seu sistema principal e inovando com a implementação de um sistema de cobranças via boletos e débitos automáticos.</p>
			<p>Atualmente, na vanguarda das soluções tecnológicas da DouraSoft do Brasil, atuo como Programador Full Stack e Engenheiro de Cloud, liderando como Gestor de Tecnologia da Informação. Sou peça-chave no desenvolvimento e gestão do nosso robusto portfólio de sistemas de gestão empresarial ERP em modelo SaaS, enfatizando aplicações para gerenciamento de Casas Lotéricas e Controle de Associados, além de sistemas inovadores para Votação, Gestão de Filas, Publicidade e Administração de Licenças. Meu papel também inclui a implementação de diversas integrações complexas utilizando tecnologias JSON, REST, XML, SOAP, que conectam diferentes plataformas de forma coesa.</p>
			<p>Possuo expertise em web development, mostrando versatilidade e conhecimentos avançados em linguagens e tecnologias web como PHP, JavaScript, Wordpress, CSS e HTML5, e em bancos de dados SQL, como PostgresSQL e MySQL.</p>
			<p>Como líder, assumo a responsabilidade pelo crescimento e capacitação das equipes de vendas, suporte e financeiro, desenvolvendo materiais didáticos como videoaulas, manuais e cursos para garantir a otimização dos processos e a excelência no uso dos sistemas criados pela nossa empresa.</p>
			<p>Desempenho um papel crucial na gestão estratégica dos nossos ativos em nuvem, assegurando uma infraestrutura estável e segura que sustenta nossa oferta de serviços de alto desempenho. Através de uma visão alinhada às demandas mercadológicas, impulsiono não apenas o desenvolvimento tecnológico, mas também a expansão comercial e o sucesso operacional de nossa organização.</p>
		</div><!--//details-->
	</div><!--//item-->
</section><!--//section-->
