<section class="section experiences-section">
	<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiências</h2>
	
	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Desenvolvedor Sênior</h3>
				<div class="time">2012 - Presente</div>
			</div><!--//upper-row-->
			<div class="company">DouraSoft, Dourados-MS</div>
		</div><!--//meta-->
		<div class="details">
			<p>Atualmente na DouraSoft do Brasil desenvolvo e mantenho sistemas de gestão empresarial ERP, CRM, gestão de casas lotéricas, cadastro de associados, sistema de votação, controle de filas e propagandas, controle de licenças e versões utilizada por cada cliente além da integração entre sistemas.</p>  
			<p>Desenvolvo Websites, possuo conhecimento avançado em PHP, JavaScript, Wordpress, CSS, HTML5, PostgresSQL, MySQL.</p>  
			<p>Responsável pelo treinamento das equipes de venda, suporte, financeiro, criação de vídeo aulas, manuais e procedimentos para melhor utilização dos sistemas desenvolvidos. </p>
			<p>Gestor e organizador dos códigos-fontes com controle de versões. Faço manutenção de rede e nos servidores da empresa.</p>
		</div><!--//details-->
	</div><!--//item-->
	
	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Desenvolvedor Junior</h3>
				<div class="time">2010 - 2012</div>
			</div><!--//upper-row-->
			<div class="company">DouraSoft, Dourados-MS</div>
		</div><!--//meta-->
		<div class="details">
			<p>Trabalhei como desenvolvedor Delphi criando alguns módulos para o sistema principal, inclusive de cobranças com boletos registrados e débito em conta.</p>
		</div><!--//details-->
	</div><!--//item-->
	
	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Estágio</h3>
				<div class="time">2009 - 2010</div>
			</div><!--//upper-row-->
			<div class="company">Hospital Evangélico, Dourados-MS</div>
		</div><!--//meta-->
		<div class="details">
			<p>Estagiário... precisa dizer mais ???</p>  
		</div><!--//details-->
	</div><!--//item-->
	
</section><!--//section-->