<head>
    <title>{{site.title}}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Especialista em Soluções Digitais e Desenvolvimento Web - Paulo Programador">
    <meta name="description" content="Especialista em tecnologias avançadas de programação, bancos de dados, automação e desenvolvimento web. Experiência com PHP, Javascript, Vue.js, WordPress, Laravel, Docker, e muito mais.">
    <meta name="keywords" content="desenvolvimento web, PHP, Javascript, Vue.js, WordPress, Laravel, bancos de dados, PostgreSQL, Firebird, MySQL, Docker, Traefik, soluções digitais, automação, N8N, RabbitMQ, WooCommerce, CakePHP, Laravel, Yii, Slim, Quasar, Chatwoot, Mautic, Typebot, Cal.com">
    <meta name="author" content="Paulo Programador">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Especialista em Soluções Digitais e Desenvolvimento Web - Paulo Programador">
    <meta property="og:description" content="Especialista em tecnologias avançadas de programação, bancos de dados, automação e desenvolvimento web. Experiência com PHP, Javascript, Vue.js, WordPress, Laravel, Docker, e muito mais.">
    <meta property="og:url" content="https://pp.eti.br/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://pp.eti.br/assets/images/og-profile.png">
    

    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/font-awesome/css/font-awesome.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{site.baseurl}}/assets/css/{% if site.style %}{{ site.style}}.css{% else %}styles.css{% endif %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 
