<section class="section projects-section">
	<h2 class="section-title"><i class="fa fa-archive"></i>Projetos</h2>
	<div class="intro">
		<p>Links úteis, projetos, dicas, códigos, sites e aplicativos desenvolvidos.</p>
	</div><!--//intro-->
	<div class="item">
		<span class="project-title"><a href="https://book.cakephp.org/3.0/en/tutorials-and-examples.html" target="_blank">CakePHP</a></span> - 
		<span class="project-tagline">Excelente Framework para desenvolvimento de aplicações em PHP.</span>		
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="http://www.cakephpbrasil.com.br/" target="_blank">CakePHPBrasil</a></span> - 
		<span class="project-tagline">Comunidade CakePHP no Brasil. </span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="http://www.projetoacbr.com.br/" target="_blank">ACBR - Automação Comercial Brasil</a></span> - 
		<span class="project-tagline">Várias bibliotecas para automação de sistemas em Delphi</span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="https://play.google.com/store/apps/details?id=br.com.pp.cutprank" target="_blank">Pegadinha do corte de cabelo</a></span> - 
		<span class="project-tagline">Meu Primeiro Aplicativo publicado no Google Play</span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="http://docs.phinx.org/en/latest/migrations.html" target="_blank">Phinx</a></span> - 
		<span class="project-tagline">Excelente ferramenta para manter bancos de dados versionados.</span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="https://dourasoft.com.br/" target="_blank">DouraSoft do Brasil</a></span> - 
		<span class="project-tagline">Desenvolvimento de WebSites, Aplicativos Desktop e Aplicações Web</span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="http://funaepe.org.br/" target="_blank">FUNAEPE</a></span> - 
		<span class="project-tagline">Fundação de Apoio ao Ensino, Pesquisa e Extensão</span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="http://sinlopar.com.br/" target="_blank">SINLOPAR</a></span> - 
		<span class="project-tagline">Sindicato dos lotéricos do Paraná</span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="http://assufgd.com.br/" target="_blank">ASSUFGD</a></span> - 
		<span class="project-tagline">Associação dos servidores da UFGD</span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="http://sinergiacet.com.br/" target="_blank">SinergiaCET</a></span> - 
		<span class="project-tagline">Sinergia e consultoria empresarial</span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="https://html5up.net/" target="_blank">Templates em HTML5</a></span> - 
		<span class="project-tagline">Lista de templates em HTML5</span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="http://jekyllthemes.org/" target="_blank">Templates para Jekyll</a></span> - 
		<span class="project-tagline">Lista de templates para Jekyll</span>
	</div><!--//item-->
</section><!--//section-->
