<section class="skills-section section">
	<h2 class="section-title"><i class="fa fa-rocket"></i>Habilidades &amp; Competências</h2>
	<div class="skillset">     
	
		<div class="item">
			<h3 class="level-title">Delphi</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="99%">
				</div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">Java &amp; Android</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="92%">
				</div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">Javascript &amp; jQuery</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="97%">
				</div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">PHP</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="98%">
				</div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">HTML5 &amp; CSS</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="99%">
				</div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">CakePHP</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="96%">
				</div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->		
	
		<div class="item">
			<h3 class="level-title">PostgresSQL</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="94%">
				</div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">Firebird</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="91%">
				</div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
		
		<div class="item">
			<h3 class="level-title">Mysql</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="93%">
				</div>                                      
			</div><!--//level-bar-->                                 
		</div><!--//item-->
				
	</div>  
</section><!--//skills-section-->
